extends ../layout.pug
include ../mixins/_uitslag
block content 
  .ui.container 
    h1.ui.header Rituitslagen van Tour #{setting.tourjaar}
    .ui.grid(style="overflow:auto; max-height: 70vh;")
      .left.aligned.column
        .ui.list
          each etap, index in setting.tourEtappes 
            - var dat = new Intl.DateTimeFormat('nl-NL',{weekday:'short', day: 'numeric', month: 'short'}).format(new Date(etap.datum))
            if etap.nr
              .ui.segment
                h4.header.dag
                  | #{etap.nr}
                  |: #{dat}
                  | -#{etap.van} - #{etap.naar}
                form(action="/admin/rituitslag" method="POST").ui.form
                  .ui.three.column.grid.blok.hideContent
                    input(type="hidden" name="ritnr" value=etap.nr)
                    .column
                      +uitslag('ritUitsl', index+1)
                    .column
                      +uitslag('geel', index+1)
                      +uitslag('groen', index+1)
                    .column
                      +uitslag('bol', index+1)
                      +uitslag('wit', index+1)
                    .two.column.row
                      .fluid.ui.buttons
                        button.animated.ui.right.floated.positive.button
                          .visible.content Opslaan
                          .hidden.content   
                            i.save.icon

  script. 
    var uitsl
    function hideResult(){
      uitsl.classList.toggle("hideContent");
    }
    $('h4.header').click(function(){
      uitsl = $(this).parent().find('.blok')[0]
      hideResult()
    })
    
    
    //- $('.ui.button').click(function(){
    //-   console.log('button clicked:' , $(this).parent())
    //-   var uitsl = $(this).parent().parent()[0]
    //-   console.dir(uitsl)
    //-   uitsl.classList.add('hideContent');
    //- })