extends ../layout.pug
block content 

  .ui.container 
    h1.ui.header Ploeg van #{ gebruiker.username.toUpperCase() } (#{team.user.vNaam})aanpassen
    //- #{gebruiker.username}
    .ui.center.aligned.four.column.grid
      - var saveUrl = `/userteams/${team._id}`
      .ui.row
        .ui.left.aligned.comment
          .ui.block.center.aligned.large.header
            form(id="teamfrm" action=saveUrl method="POST").ui.large.form
              .inline.field  
                label(for="teamname").ui.center.aligned.header Naam van de ploeg
                input(type="text" id="teamname" name="team[teamname]" placceholder= "Ploegnaam" value = team.teamname)
              .ui.grid
                .ui.two.column.grid
                  .column
                    table.ui.basic.compact.table
                      tr 
                        th(colspan="2") Renners in de ploeg
                      - var n = 1
                      while n <= setting.rennerAant
                        - var ren = n-1
                        - var lbl = 'renners[]'
                        - var teamRen = 0
                        if team.renners.length > ren
                          - var teamRen = team.renners[ren]._id
                        tr  
                          td.center.aligned= n++
                          td.left.aligned 
                            select(id=ren name=lbl class="selRen" value=teamRen)
                              option(hidden selected) Selecteer ...
                              each renner in renners
                                if renner._id.equals(teamRen)
                                  option(value=renner._id selected=true)= renner.renner.showName
                                else
                                  option(value=renner._id)= renner.renner.showName
                          
                  .column
                    .ui.left.aligned.comment
                      .content
                        .description
                          table.ui.basic.compact.small.table
                            tr 
                              th(colspan="2") Reserves
                            - var n = setting.rennerAant + 1
                            while n <= setting.rennerstotaal
                              - var ren = n-1
                              - var lbl = 'renners[]'
                              -  var teamRen = 0
                              if team.renners.length > ren
                                - var teamRen = team.renners[ren]._id
                              tr  
                                td.center.aligned= n++
                                td.left.aligned 
                                  select(id=ren name=lbl class="selRen" value=teamRen)
                                    option(hidden selected) 
                                    each renner in renners
                                      if renner._id.equals(teamRen)
                                        option(value=renner._id selected=true)= renner.renner.showName
                                      else
                                        option(value=renner._id)= renner.renner.showName
                    .ui.error.message

              .ui.center.aligned.row
                .ui.buttons
                  a(href="/userteams").ui.animated.large.button
                    .visible.content Annuleren
                    .hidden.content 
                      i.arrow.left.icon
                  .or(data-text="")
                  button(type="submit").ui.animated.positive.large.button 
                    .visible.content Opslaan
                    .hidden.content 
                      i.save.icon
  
  script.  
    $('.ui.form')
    .form({
      ignore: [],
      fields: {
        team: 
        {
          identifier: 'team[teamname]',
          rules: [
            {
              type   : 'empty',
              prompt : 'Je hebt geen teamnaam opgegeven!'
            }
          ]
        },
        renners[]: 
        {
          rules: [
            { type : 'empty',
              prompt: 'Vul alle renners in'
            },
          ]
        }
      }
    });
  script. 
    $(document).ready(function(){
      setRenList()
      $("#teamfrm").validate({
        ignore: [],
        rules: {
          "renners[]": "required",
          "teamname": "required"
        },
        messages: {
          "renners[]": "Selecteer overal een renner",
        }
      })
    })
    function setRenList(){
      //- enable all disabled options first
      $('option[disabled]').prop('disabled', false);

      //- haal de geselecteerde renner uit de overige select options
      $(".selRen").each(function(){
        //- niet als het de huidige select is!
        $('select').not(this).find('option[value="' + this.value +'"]').prop("disabled", true);
      })

    }
    $(".selRen").change(function(){
      setRenList()
    })

