extends ../layout.pug
block content 

  .ui.container
  h1.ui.header De ploegen van #{gebruiker.vNaam} (#{gebruiker.username})
   a(href="/userteams/newteam/").ui.blue.button Nieuw
  
  .ui.left.aligned.four.column.grid
    if userteams.length === 0
      h2.ui.header Nog geen ploegen ingeleverd
    else
      .ui.row
        each team in userteams 
          .four.wide.column
            .ui.left.aligned.card 
              .content
                .ui.center.block.aligned.large.header 
                  - var ploegUrl = `/userteams/${team._id}/edit`
                  a(href=ploegUrl) Team: #{team.teamname}
                .description
                  table.ui.basic.compact.table
                    - var i=1
                    each renner in team.renners
                      //- - var naam = (renner.renner.fullName).substring(0,20) + " (" + renner.renner.nr + ")"
                      tr 
                        td.center.aligned= i++
                        td.left.aligned= renner.fullName


      
