extends ../layout.pug

block content 
  .ui.container 
    h1.ui.header Nieuwe ploeg voor #{gebruiker.username}
    //- #{gebruiker.username}
    .ui.center.aligned.four.column.grid

      .ui.row
        .ui.left.aligned.comment
          .ui.block.center.aligned.large.header
            form(action="/userteams/newteam" method="POST").ui.large.form
              .inline.field  
                label(for="teamname").ui.center.aligned.header Naam van de ploeg
                input(type="text" id="teamname" name="teamname" placceholder= "Ploegnaam")
              .ui.grid
                .ui.two.column.grid
                  .column
                    h3.ui.center.aligned.header Jouw renners
                    table.ui.basic.compact.table
                      tr 
                        th Pos
                        th Renner
                      - var n = 1
                      while n <= setting.rennerAant
                        - var ren = n-1
                        - var lbl = 'renners[]'
                        tr  
                          td.center.aligned= n++
                          td.left.aligned 
                            select(id=lbl name=lbl)
                              option(hidden selected) Selecteer ...
                              each renner in renners 
                                -var naam = (renner.aNaam + ", " + renner.vNaam + ' ' + renner.tNaam).substring(0,20) + " (" + renner.nr + ")"
                                option(value=renner._id)= naam
                  .column
                    .ui.left.aligned.comment
                      .content
                        .description
                          h3.ui.center.aligned.header Jouw reserves
                          table.ui.basic.compact.small.table
                            tr 
                              th Pos 
                              th Renner
                            - var n = setting.rennerAant +1
                            while n <= setting.rennerstotaal
                              - var ren = n-1
                              - var lbl = 'renners[]'
                              tr  
                                td.center.aligned= n++
                                td.left.aligned 
                                  select(id=lbl name=lbl)
                                    option(hidden selected) Selecteer ...
                                    each renner in renners 
                                      -var naam = (renner.aNaam + ", " + renner.vNaam + ' ' + renner.tNaam).substring(0,20) + " (" + renner.nr + ")"
                                      option(value=renner._id)= naam
              .ui.center.aligned.row
                .ui.buttons
                  a(href="/userteams").ui.large.button Annuleren
                  .or(data-text="-")
                  button(type="submit").ui.positive.large.button Opslaan
