extends layout
block content
  .p-2
    .container.main-bg-color.p-1
      h1.text-center Nieuwe gebruiker
      form(method="POST" action = 'user')
        .row.mb-0
          .col
            .form-outline.border-bottom.border-dark.mb-1
              input(class="form-control" type="text" name="username" id="username")
              label(class="form-label" for="username") Gebruikersnaam
        .row.mb-0
          .col
            .form-outline.border-bottom.border-dark.mb-1
              input(class="form-control" type="text" name="vNaam" id="vNaam")
              label(class="form-label" for="vNaam") Voornaam
          .col
            .form-outline.border-bottom.border-dark.mb-1
              input(class="form-control" type="text" name="tNaam" id="tNaam")
              label(class="form-label" for="tNaam") tussvg
          .col
            .form-outline.border-bottom.border-dark.mb-1
              input(class="form-control" type="text" name="aNaam" id="aNaam" )
              label(class="form-label" for="aNaam") Achternaam
        .row.mb-0
          .col
            .form-outline.border-bottom.border-dark.mb-1
              input.form-control(type="email" class= "form" name="email" id="email")
              label(class="form-label" for="email") email
          .col
            .form-outline.border-bottom.border-dark.mb-1
              input.form-control(type="password" class= "form" name="password" id="password")
              label(class="form-label" for="password") Wachtwoord
        .row.m-3
          .col
            button(id="submit" type="button" class="btn btn-primary") Opslaan

  .p-2
    .container.main-bg-color.p-1
      h2 Deze #{users.length} gebruikers hebben we al
      .col
        table.table-sm
          tr
            th Voornaam
            th tusvg
            th Achternaam
            th Email
          each user in users

            tr
              td #{user.vNaam}
              td #{user.tNaam}
              td #{user.aNaam}
              td #{user.email}
