mixin rennerRij(index, renner)
  -
    var editUrl = '/renners/' + renner._id
    var deleteUrl = editUrl + '?_method=DELETE'
  
  tr
    td.right.aligned #{renner.nr}
    td #{renner.vNaam} #{renner.tNaam} #{renner.aNaam}
    td #{renner.ploeg}
    td 
      form(action=deleteUrl method = "POST")
        .ui.buttons
          a(href=editUrl) 
            .ui.animated.tiny.green.button
              .visible.content
                i.address.card.outline.icon
              .hidden.content 
                i.pencil.alternate.icon
          button.ui.animated.tiny.red.button
            .visible.content
              i.trash.alternate.outline.icon
            .hidden.content 
              i.trash.icon
