mixin result(type, etap)
  if type === 'rit'
    - var hdr = "Etappeuitslag"
  else 
    - var hdr = type.charAt(0).toUpperCase() + type.slice(1).toLowerCase()
  - var lbl = type+'[]'
  - var arr = setting.punten.etappe[type]    
  
  
  .ui.fluid.raised.card

    .ui.list 
      each pnt, index in arr
        if result.etappes[etap-1]
          - var sel = result.etappes[etap-1][type][index].renner
        else  
          - var sel = 0
        .inline.field 
          label #{index+1}: 
          select.fourteen.wide.field(id=ren name=lbl, value=sel)
            option(hidden selected) 
            each renner in renners
              -var naam = renner.renner.showName.substring(0,25) + " (" + renner.nr + ")"
              if renner._id.equals(sel)
                option(value=renner._id selected=true)= naam 
              else 
                option(value=renner._id)= naam
                      