extends ../layout.pug
include ../mixins/_rennerRij
block content
  h1.grid.center.aligned Renners
  .container.ui.center.aligned.grid
    table.ui.striped.celled.table.compact.collapsing(align="center")
      thead 
        tr 
          th.sorted.descending Rugnr
          th Renner
          th Ploeg
          th.center.aligned #{current} / #{pages}
      tbody
        each renner, index in renners
          +rennerRij(index, renner)
        tfoot 
          tr
            td(colspan="4").center.aligned
              .ui.horizontal.list
                if current > 1
                  .item
                    - var nwPage = Number(current)-1
                    - var ref1 = '?page=' + nwPage
                    a(href=ref1) Vorige
                - var i = 1
                while i <= pages 
                  - var ref2 = '?page=' + i
                  .item
                    a(href=ref2) #{i++}
                if current < pages  
                  - var nwPage = Number(current)+1
                  - var ref3 = '?page=' + nwPage
                  .item
                    a(href=ref3) Volgende
                  .item   
                    a(href="renners/new") Nieuw



      
  

