extends ../layout.pug

block content 
  .ui.container 
    h1.ui.header Ploeg van #{ gebruiker.username.toUpperCase() } aanpassen
    //- #{gebruiker.username}
    .ui.center.aligned.stackable.grid 
      .ui.container.stackable.grid
        .column
          - var saveUrl = `/ploegen/${ploeg._id}`
          form(action=saveUrl method="POST").ui.left.aligned.form
            .inline.field  
              label(for="teamname").ui.black.center.aligned.header Naam van de ploeg
              input(type="text" id="teamname" name="teamname" placceholder= "Ploegnaam" value = ploeg.teamname)
            .container
              .ui.left.aligned.stackable.grid
                .four.wide.column
                .four.wide.column
                  h3.ui.black.center.aligned.header Jouw renners
                  .ui.list  
                    - var n = 1
                    while n <= setting.rennerstotaal
                      .item
                        .inline.field 
                          - var id = 'fld' + n
                          - var lbl = 'renners[]'
                          if n < 10
                            label(for=lbl)
                            | &nbsp;
                            | #{n++}:
                            | &nbsp;
                          else  
                            label(for=lbl)
                            | #{n++}:
                            | &nbsp;
                          select(id=id name=lbl value=ploeg.renners[n].id ) 
                            each renner in renners
                              -var naam = (renner.aNaam + ", " + renner.vNaam + ' ' + renner.tNaam).substring(0,20) + " (" + renner.nr + ")"
                              if ploeg.renners[n]._id.equals(renner._id)
                                option(value=renner.nr selected)= naam
                              else  
                                option(value=renner.nr)= naam


                //- .four.wide.center.aligned.column
                //-   h3.ui.center.aligned.header Jouw reserves
                //-   .ui.list  
                //-     - var r = 1
                //-     while r <= setting.reserveAant 
                //-       .item
                //-         .inline.field 
                //-           label(for=lbl)
                //-           | &nbsp;
                //-           | #{r++}
                //-           | &nbsp;
                //-           - var id = 'fld' + n
                //-           select(id=id name=lbl) 
                //-             each renner in renners 
                //-               option(value=renner._id)= naam
                //-   button(type="submit").ui.big.button Opslaan
                //-   a(href='/ploegen') Annuleren
