extends ../layout.pug
block content 

  .ui.container
  h1.ui.header De ploegen van #{gebruiker.vNaam} (#{gebruiker.username})
   a(href="/ploegen/newteam/").ui.blue.button Nieuw
  
  .ui.left.aligned.four.column.grid
    if ploegen.length === 0
      h2.ui.header Nog geen ploegen ingeleverd
    else
      .ui.row
        each ploeg in ploegen 
          .four.wide.column
            .ui.left.aligned.card 
              .content
                .ui.center.block.aligned.large.header 
                  - var ploegUrl = `/ploegen/${ploeg._id}/edit`
                  a(href=ploegUrl) Ploeg: #{ploeg.teamname}
                .description
                  table.ui.basic.compact.table
                    - var i=1
                    each renner in ploeg.renners
                      - var naam = (renner.aNaam + ", " + renner.vNaam + ' ' + renner.tNaam).substring(0,20) + " (" + renner.nr + ")"
                      tr 
                        td.center.aligned= i++
                        td.left.aligned= naam 


      
