extends ../layout.pug

block content 
  .ui.container 
    h1.ui.header Nieuwe ploeg voor #{gebruiker.username}
    //- #{gebruiker.username}
    .ui.center.aligned.stackable.grid 
      .ui.container.stackable.grid
        .column
          form(action="/ploegen/newteam" method="POST").ui.left.aligned.form
            .inline.field  
              label(for="teamname").ui.black.center.aligned.header Naam van de ploeg
              input(type="text" id="teamname" name="teamname" placceholder= "Ploegnaam")
            .container
              .ui.left.aligned.stackable.grid
                .four.wide.column
                .four.wide.column
                  h3.ui.black.center.aligned.header Jouw renners
                  .ui.list  
                    - var n = 1
                    while n <= setting.rennerAant
                      .item
                        .inline.field 
                          - var lbl = 'renners[]'
                          if n < 10
                            label(for=lbl)
                            | &nbsp;
                            | #{n++}
                            | &nbsp;
                          else  
                            label(for=lbl)
                            | #{n}
                            | &nbsp;
                          select(id=lbl name=lbl)
                            option(hidden selected) Selecteer ...
                            each renner in renners 
                              -var naam = (renner.aNaam + ", " + renner.vNaam + ' ' + renner.tNaam).substring(0,20) + " (" + renner.nr + ")"
                              option(value=renner._id)= naam
                .four.wide.center.aligned.column
                  h3.ui.center.aligned.header Jouw reserves
                  .ui.list  
                    - var r = 1
                    while r <= setting.reserveAant
                      .item
                        .inline.field 
                          label(for=lbl)
                          | &nbsp;
                          | #{r++}
                          | &nbsp;

                          select(id=lbl name=lbl)
                            option(hidden selected) Selecteer ...
                            each renner in renners 
                              -var naam = (renner.aNaam + ", " + renner.vNaam + ' ' + renner.tNaam).substring(0,20) + " (" + renner.nr + ")"
                              option(value=renner._id)= naam
                  button(type="submit").ui.big.button Opslaan
                .four.wide.column
